@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue-helsic: #00ffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom utility class */
@layer utilities {
  .bg-blue-100 {
    background-color: var(--blue-helsic);
  }

  .text-blue-100 {
    color: var(--blue-helsic);
  }

  .border-blue-100 {
    border-color: var(--blue-helsic);
  }
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

/* Gunakan sebagai kelas atau inline style */
@layer utilities {
  .animate-spotlight {
    animation: spotlight 2s ease 0.75s 1 forwards;
  }
}

@layer utilities {
  .animate-scroll {
    animation: scroll var(--animation-duration, 40s)
      var(--animation-direction, forwards) linear infinite;
  }
}

@layer utilities {
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }

  @keyframes scroll {
    to {
      transform: translateX(calc(-50% - 0.5rem));
    }
  }

  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }

  .animate-first {
    animation: moveVertical 30s ease infinite;
  }

  .animate-second {
    animation: moveInCircle 20s reverse infinite;
  }

  .animate-third {
    animation: moveInCircle 40s linear infinite;
  }

  .animate-fourth {
    animation: moveHorizontal 40s ease infinite;
  }

  .animate-fifth {
    animation: moveInCircle 20s ease infinite;
  }
}
